@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 410 715;
  font-display: swap;
  src:
    url("./Inter-Variable.woff2") format("woff2 supports variations"),
    url("./Inter-Variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "press start";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./PressStart2P-Regular.woff") format("woff");
}
