/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 95px;
  font-family: var(--def-font), sans-serif;
  font-variation-settings: "wght" var(--def-font-def_weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.button {
  position: relative;
  border: var(--blocks-border);
  color: #000;
  background-color: #fff;
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;                  
  background-color: #000;
  transform: scaleX(0);     
  transform-origin: left;    
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);  
  color: #fff;    /* заливка растянулась */
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.header {
  background-color: #fff;
  border: var(--blocks-border);
  padding: clamp(122px, calc(119.183px + 0.751vw), 130px) clamp(16px, calc(-21.5px + 10vw), 122.5px);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), sans-serif;
  gap: 20px;
}

.html-tag {
  font-size: clamp(3.06rem, calc(2.710rem + 1.502vw), 4.06rem);
}

.html-tag_text {
  font-size: clamp(0.88rem, calc(0.677rem + 0.845vw), 1.44rem);
}

.main-section {
  inline-size: var(--blocks-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-between-elems);
}

.cards_sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-between-elems);
}

.card {
  max-inline-size: 700px;
  background-color: #fff;
  border: var(--blocks-border);
}

.card__heading {
  block-size: clamp(30px, calc(59.746px - 2.066vw), 52px);
  font-variation-settings: "wght" var(--def-font-accent_weight);
  font-size: 18px;
  padding: 5px 10px;
  color: #000;
}

.card_image-wrapper {
  position: relative;
  overflow: hidden;
}

.bus_image {
  display: block;
  inline-size: clamp(371px, calc(256.563px + 30.516vw), 696px);
  block-size: clamp(371px, calc(256.563px + 30.516vw), 696px);
}

.card__html-label {
  position: absolute;
  inset-block-start: 25px; 
  inset-inline-end: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 29px 25px 25px;
  gap: 25px;
}

.card__description p {
  font-size: 18px;
  line-height: 21px;
}

.buttons {
  align-self: end;
  display: flex;
  flex-direction: row;
  block-size: 38px;
  gap: 7px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  padding: 12px 35px;
  max-inline-size: 130px;
}

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.button__text {
  color: #fff;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  line-height: 0.9;
}

.save-button {
  display: flex;
  flex-direction: row;
  padding: 15px 18px;
  align-items: center;
  gap: 8px;
}

.save-button__diskette {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  fill: currentColor;
}

.save__dialog {
  position: fixed;
  max-inline-size: 353px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: var(--blocks-border);
  background-color: #fff;
}

.save__dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

body:has(.save__dialog[open]) {
  overflow: hidden;
}

.save__dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__diskette {
  display: block;
  width: 39px;
  height: 39px;
  flex: 0 0 39px;
}

.close__button {
  max-inline-size: 293px;
  padding: 12px 132px;
}

.core, .main-body {
  fill: transparent;
}

.contour {
  transition: fill 1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  fill: var(--sparks-color);
  opacity: 0;
}

.like-icon:hover .core {
  fill: #000;
  transition-delay: none;
}

.like-icon:hover .main-body {
  fill: #000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body{
  fill: var(--animation-fill-color);
}

/*.is-liked {
  transform-origin: center;
}*/

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked g {
  transform-origin: center;
  transform-box: fill-box;
  animation: big_h 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s 0.3s ease-in;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__html-label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    padding: 16px 18px;
  } 
  .save-button__diskette {
    display: block;
    width: 28px;
    height: 28px;
    flex: 0 0 28px;
  }
}